.card {
  margin-top: 20px;
  color: white;
  font-family: "Gill Sans", sans-serif;
  max-width: 300px;
  margin-left: 40vw;
}
.border {
  border: 5px solid white;
  margin-bottom: 20px;
}

.cardthree {
  text-align: center;
  color: white;
  font-family: "Gill Sans", sans-serif;
}
.picturegithub {
  height: 20vw;
  width: 20vw;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-left: 10vw;
  }
  .picturegithub {
    height: 40vw;
    margin-left: 15vw;
    width: 40vw;
  }
}
