.card {
  margin-top: 20px;

  max-width: 300px;
  margin-left: 40vw;
}
.border {
  border: 1px solid black;
  margin-bottom: 20px;
}

.cardthree {
  text-align: center;
}
.picturegithub {
  height: 20vw;
  width: 20vw;
}
